{% extends "base.html" %}

{% set title = "Brasif Treinamento" %}

{% block content %}
<div class="container-home">
    <p>Olá {{ nome_responsavel }}</p>
    <h1 class="text-center">Brasif treinamento</h1>
    <hr>
    <div>
        <a href="{{ url_for('inscricao.inscricao') }}"><button type="submit" class="btn btn-primary">Inscrever</button></a>
    </div>
    <div>
        <a href="{{ url_for('tabela.inscricoes_por_responsavel', id_responsavel=id_responsavel) }}"><button type="submit" class="btn btn-primary">Inscrições realizadas por mim</button></a>
        <a href="{{ url_for('tabela.colaboradores_por_responsavel', id_responsavel=id_responsavel) }}"><button type="submit" class="btn btn-primary">Meus colaboradores</button></a>
    </div>
</div>
{% endblock %}
