{% extends "base.html" %}

{% set title = "Inscrições por Empresa" %}

{% block content %}
<div class="container">

    <h1 class="text-center">Inscrições por Empresa</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome Colaborador</th>
                    <th>Nome Treinamento</th>
                    <th>Nome Responsável</th>
                    <th>Data Inscrição</th>
                    <th>Status</th>
                    <th>Nome Empresa</th>
                </tr>
            </thead>
            <tbody>
                {% for inscricao in inscricoes.items %}
                <tr>
                    <td>{{ inscricao.colaborador.nome }}</td>
                    <td>{{ inscricao.treinamento.treinamento }}</td>
                    <td>{{ inscricao.colaborador.responsavel.nome }}</td>
                    <td>{{ inscricao.data_inscricao.strftime('%d/%m/%Y') }}</td>
                    <td>{{ inscricao.status }}</td>
                    <td>{{ inscricao.colaborador.empresa.nome_empresa }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if inscricoes.has_prev %}
            <a href="{{ url_for('tabela_bp.inscricoes_por_empresa', page=inscricoes.prev_num) }}">Anterior</a>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="">Página {{ inscricoes.page }} de
                    {{ inscricoes.pages }}</a></li>
            {% if inscricoes.has_next %}
            <a href="{{ url_for('tabela_bp.inscricoes_por_empresa', page=inscricoes.next_num) }}">Próximo</a>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
