{% extends "base.html" %}

{% set title = "Treinamentos" %}

{% block content %}
<div class="container">

    <!-- Seção para exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1 class="text-center">Treinamentos</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Treinamento</th>
                    <th>Editar</th>
                    <th>Inscrições</th>
                </tr>
            </thead>
            <tbody>
                {% for treinamento in treinamentos.items %}
                <tr>
                    <td>{{ treinamento.marca_tipo.tipo.nome }}</td>
                    <td>{{ treinamento.marca_tipo.marca.nome }}</td>
                    <td>{{ treinamento.treinamento }}</td>
                    <td>
                        <a href="{{ url_for('treinamento.editar_treinamento', id=treinamento.id_treinamento) }}">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a
                            href="{{ url_for('tabela.inscricoes_por_treinamento', id_treinamento=treinamento.id_treinamento) }}">
                            Ver Inscrições
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if treinamentos.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('tabela.tabela_treinamentos', page=treinamentos.prev_num) }}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="">Página {{ treinamentos.page }} de
                    {{ treinamentos.pages }}</a></li>
            {% if treinamentos.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('tabela.tabela_treinamentos', page=treinamentos.next_num) }}">Próxima</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
