{% extends "base.html" %}

{% set title = "Marcas por tipo" %}

{% block content %}
<div class="container">

    <!-- Seção para exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <h1 class="text-center">Marcas por tipo</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th>Logins</th>
                    <th>Treinamentos</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for marca_tipo in marcas_tipo.items %}
                <tr>
                    <td>{{ marca_tipo.marca.nome }}</td>
                    <td>{{ marca_tipo.tipo.nome }}</td>
                    <td>
                        <a href="{{ url_for('tabela.logins_por_marca_tipo', id_marca_tipo=marca_tipo.id_marca_tipo) }}">
                            Logins
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('tabela.treinamentos_por_marca_tipo', id_marca_tipo=marca_tipo.id_marca_tipo) }}">
                            Treinamentos
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('marca_tipo.editar_marca_tipo', id=marca_tipo.id_marca_tipo) }}">
                            Editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>                    
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if marcas_tipo.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('tabela.marcas_por_empresa', page=marcas_tipo.prev_num) }}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="">Página {{ marcas_tipo.page }} de
                    {{ marcas_tipo.pages }}</a></li>
            {% if marcas_tipo.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('tabela.marcas_por_empresa', page=marcas_tipo.next_num) }}">Próxima</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
