{% extends "base.html" %}

{% set title = "Treinamentos" %}

{% block content %}
<div class="container">

    <h1 class="text-center">Treinamentos</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Treinamento</th>
                    <th>Editar</th>
                    <th>Inscrições</th>
                </tr>
            </thead>
            <tbody>
                {% for treinamento, marca, tipo in treinamentos.items %}
                <tr>
                    <td>{{ tipo.nome }}</td>
                    <td>{{ marca.nome }}</td>
                    <td>{{ treinamento.treinamento }}</td>
                    <td>
                        <a href="{{ url_for('treinamento.editar_treinamento', id=treinamento.id_treinamento) }}">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('tabela.inscricoes_por_treinamento', id_treinamento=treinamento.id_treinamento) }}">
                            Ver Inscrições
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if treinamentos.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('tabela.tabela_treinamentos', page=treinamentos.prev_num) }}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="">Página {{ treinamentos.page }} de
                    {{ treinamentos.pages }}</a></li>
            {% if treinamentos.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('tabela.tabela_treinamentos', page=treinamentos.next_num) }}">Próxima</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
