{% extends "base.html" %}

{% set title = "Tipos" %}

{% block content %}
<div class="container">

    <h1 class="text-center">Tipos</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo in tipos.items %}
                <tr>
                    <td>{{ tipo.nome }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if tipos.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('tabela.tabela_tipos', page=tipos.prev_num) }}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="">Página {{ tipos.page }} de
                    {{ tipos.pages }}</a></li>
            {% if tipos.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('tabela.tabela_tipos', page=tipos.next_num) }}">Próxima</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
