{% extends "base.html" %}

{% set title = "Colaboradores da Empresa" %}

{% block content %}
<div class="container">

    <h1 class="text-center">Colaboradores da Empresa {{ empresa.nome_empresa }}</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
                {% for colaborador in colaboradores.items %}
                <tr>
                    <td>{{ colaborador.nome }}</td>
                    <td>{{ colaborador.email }}</td>
                    <td>{{ colaborador.cargo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if colaboradores.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('tabela.colaboradores_por_empresa', id_empresa=empresa.id_empresa, page=colaboradores.prev_num) }}">Anterior</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link" href="">Página {{ colaboradores.page }} de {{ colaboradores.pages }}</a>
            </li>
            {% if colaboradores.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('tabela.colaboradores_por_empresa', id_empresa=empresa.id_empresa, page=colaboradores.next_num) }}">Próxima</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
