@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

header {
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, .1);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(98vh - (45px + 56px));
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
}

input[type=submit] {
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, .1);
    transition: font-size .3s ease;
}

input[type=submit]:hover {
    font-size: 1.1rem;
}

button[type=submit] {
    text-transform: uppercase;
    transition: font-size .3s ease;
}

button[type=submit]:hover {
    font-size: 1.1rem;
}

.form-line {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    flex-direction: row;
    padding: 1rem;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    flex-direction: column;
    margin: 0 auto;
}

.form-line .form-group .a_menu, .button_menu {
    width: 80%;
    height: 3.5rem;
    text-transform: uppercase;
}

.form-group label {
    font-size: 1.2rem;
    align-self: flex-start;
}

.form-group input[type='text'], input[type='number'], input[type='password'] {
    height: 3rem;
    font-size: 1.3rem;
    width: 100%;
    text-align: left;
}

.container-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 4rem;
}

.container-home form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: .5rem;
}